body {
    background-image: url("../img/day-night.jpg");
    font-size: 16px;
}

/*.day {
  background-color: blue;
}*/


.clockday {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 10px;
    font-size: 6em;
    height: 200px;
    margin: auto;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-left: 9%;
    margin-right: 15%;
    top: 0; left: 0px; bottom: 0; right: 0;   
    opacity: .9;

}

.clocknight {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 10px;
    font-size: 6em;
    height: 200px;
    margin: auto;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-left: 64%;
    margin-right: 15%;
    top: 0; left: 0px; bottom: 0; right: 0;   
    opacity: .9;

}



